/* =========================
   NAVBAR RESPONSIVE
========================= */

/* TABLET FIX (770px – 991px) */
@media (max-width: 991px) {

  .section-header .row {
    flex-direction: column;
    align-items: center;
  }

  .section-header .col-lg-3,
  .section-header .col-lg-9 {
    width: 100%;
    text-align: center;
  }

  .section-header form {
    width: 100%;
    margin-top: 10px;
  }

  .section-header .widget-header {
    margin-top: 8px;
  }
}
@media (max-width: 1100px) {
  .widget-header small {
    display: none;
  }
}
@media (max-width: 770px) {
  .desktop-navbar {
    display: none !important;
  }
  .mobile-navbar {
    display: block !important;
  }
}

/* =========================
    HOME RESPONSIVE
========================= */

@media (max-width: 768px) {
  .scroll-btn {
    display: none;
  }
}
@media (min-width: 992px) {
  .card-item img {
    height: 200px;
  }
}
/* =========================
   store RESPONSIVE
========================= */

.pagination {
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  #mobileFilter {
    margin-bottom: 15px;
  }
}
