/* =========================
   NAVBAR RESPONSIVE
========================= */

@media (max-width: 768px) {

  .header-main .row {
    flex-wrap: wrap;
    gap: 10px;
  }

  .header-main .col-lg,
  .header-main .col-md,
  .header-main .col-sm,
  .header-main .col,
  .header-main .col-auto {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .brand-wrap .logo {
    transform: none;
    max-height: 35px;
  }

  .search-wrapper {
    width: 100%;
  }

  .search-wrapper .form-control {
    width: 100%;
  }

  .header-main .d-flex {
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 8px;
  }

  .widget-header {
    text-align: center;
  }

}


/* =========================
    HOME RESPONSIVE
========================= */

@media (max-width: 768px) {

  .scroll-btn {
    display: none;
  }

}